body{
    margin:0px;
}
header{
    background-color: rgb(235, 235, 235);
    width: 100%;
    height:1000px;
}

#h-div1{
    width: 100%;
    height: 80px;
    background-color:rgb(199, 199, 199);
}

#h-div2{
    width: 20%;
    float: left;
    height:80px;
    background-color: #333;
    color: antiquewhite;
    font-size: 38px;
    text-align: center;
    line-height: 80px;
}
#h-div3{
    width: 60%;
    float: left;
    height:80px;
    background-color: #222;
}
.menu{
    list-style: none;
    text-decoration: none;
    float: left;
    padding:0px 5px;
    color:antiquewhite;
    font-size:18px;
    text-transform: uppercase;
    line-height:50px;
}
.dil{
    list-style: none;
    text-decoration: none;
    float: left;
    padding:0px 5px;
    color:antiquewhite;
    font-size:18px;
    line-height:50px;
}
#h-div4{
    width: 20%;
    float: left;
    height:80px;
    background-color: #333;
}

#h_img{
    width: 100%;
    height: 920px;
}
#h_goruntu{
    width: 100%;
    height:100%;
}

#cerez{
    width: 100%;
    height: 40px;
    background-color: #333;
    position: fixed;
    bottom: 0px;
    color:antiquewhite;
    padding:5px;
    z-index: 2;
    line-height:40px;
    font-size: 16px;
}

#gizli{
    color: darkred;
    font-weight: bold;
}

#kapat{
    margin-left:53%;
    color: lightcyan;
    border:1px solid antiquewhite;
    padding:5px;
    text-align:right;
}


#sec{
    width: 100%;
    height: 500px;
    background-color:#333;
}

.comment{
    width: 23%;
    height:390px;
    background-color:#777;
    float: left;
    margin-top: 4%;
    margin-left:1.4%;
    border-radius: 10px;
    border:1px solid antiquewhite;
    box-shadow: 0 3px 5px lightcoral;
}

.imageArea{
    width:100px;
    height:100px;
    border-radius:50%;
    margin:auto;
}
.comments{
    padding:5px;
    font-size:13px;
    color:antiquewhite;
    width:100%;
    height:250px;
    text-align: justify;
    box-sizing: border-box;
}

.name{
    text-align: center;
    padding:15px;
    font-weight: bold;
    width: 100%;
    height: 50px;
    color: black;
    font-size: 18px;
}